%h1 #{@donor.first_name} #{@donor.last_name}

- @tiers.each do |tier|
  - @donor_dedications_by_tier[tier].each do |dedication|
    %div{:class => "dedication", :id => dedication.id} 
      .col-md-4.portfolio-item
        .panel.panel-default
          .panel-heading
            %h4= dedication.tier
          .panel-body
            %p= dedication.dedication
            %p= link_to "#{dedication.hospital.name}", hospital_path(Hospital.find(dedication.hospital_id))
            %p= link_to "View Dedication", dedication_path(dedication), :id => "view_#{dedication.id}"