#filterrific_results
  %div
    = page_entries_info dedications
    
  %table
    %tr
      %th Dedication
      %th Status
      %th hospital_id
      %th donor name
    - dedications.each do |d|
      %tr
        %td= d.dedication
        %td= d.status
        %td= d.hospital_id
        %td= d.donor.first_name
        
= will_paginate dedications
