.container
    .main-area
        %h3= "SEF Dedication Page"
        %h1= link_to "#{@dedication.donor.first_name} #{@dedication.donor.last_name}", donor_path(Donor.find(@dedication.donor_id))
        .column.content
            // %p This is the Content.
            %p= link_to "#{@hospital.name}", hospital_path(@hospital)
            %p= link_to "Edit", edit_dedication_path(@dedication.id)

            %ul#dedication_info
                %li
                    ID:
                    = @dedication.id
                %li
                    Tier:
                    = @dedication.tier
                %li
                    Dedication:
                    = @dedication.dedication
        .column.sidebar
            // %p This is the Sidebar.
            %p= social_share_button_tag()

            
        .column.side-nav
            // %p This is the Navigation.

