%p= link_to "#{@dedication.id}", hospital_path(@hospital)
%p= link_to "Edit", edit_dedication_path(@dedication.id)

%ul#dedication_info
    %li
        ID:
        = @dedication.id
    %li
        Tier:
        = @dedication.tier
    %li
        Dedication:
        = @dedication.dedication

%p= social_share_button_tag()
        
// button_to(name = test, options = nil, html_options = nil, &block)
