.section.section-our-team-freebie
    .parallax.filter.filter-color-black
        .image{:style => "background-image: url(#{image_path 'wood.jpg'})"}
        .container
            .content
                .team
                    .row
                        .col-md-10.col-md-offset-1
                            .row
                                .col-md-4.col-md-offset-4
                                    .card.card-member
                                        .content
                                            // .avatar.avatar-danger
                                            //     %img.img-circle
                                            //         = image_tag "silver.jpg"
                                            .description
                                                %h3.title 
                                                    = link_to "#{@dedication.donor.first_name} #{@dedication.donor.last_name}", donor_path(Donor.find(@dedication.donor_id))
                                                %p.small-text 
                                                    = @dedication.tier
                                                %p.description 
                                                    = @dedication.dedication
                                                // %p This is the Content.
                                                %p= link_to "#{@hospital.name}", hospital_path(@hospital)
                                                - if @donor_logged_in && !@published
                                                    %p= link_to "Edit", edit_dedication_path(@dedication.id)
                                                %p= social_share_button_tag("A donation to #{@hospital.name} by #{@dedication.donor.first_name} #{@dedication.donor.last_name} #SankaraEyeFoundation")