%p= link_to "#{@dedication.hospital.name}", hospital_path(Hospital.find(@dedication.hospital_id))
%p= link_to "#{@dedication.donor.first_name} #{@dedication.donor.last_name}", donor_path(Donor.find(@dedication.donor_id))

%ul#dedication_info
    %li
        ID:
        = @dedication.id
    %li
        Tier:
        = @dedication.tier
    %li
        Dedication:
        = @dedication.dedication
        
%p= social_share_button_tag()
