= javascript_include_tag "application.js"

%h1 #{@hospital.name}

%ul#hospital_info
    %li
        Surgeries:
        = @hospital.surgeries
    %li
        Cost:
        = @hospital.cost
    %li
        Story:
        = @hospital.story
        
%html
    %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
        #map {
            height: 400px;
            width: 40%;
        }
    %body
        %h3 Location
        Latitude: #{@hospital.lat} 
        Longitude: #{@hospital.lng}
        #map
        :javascript
            function initMap() {
                var uluru = {lat: #{@hospital.lat}, lng: #{@hospital.lng} };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBTUBDqxJw2PidgRgXPJg_p84LCVS026l8&callback=initMap"}
    

- @tiers.each do |tier|
    %a{:href => "##{tier}", :class => 'jump', :name => "#{tier}"} #{tier}
    
- @tiers.each do |tier|
    %h2{:id => "#{tier}_header"} #{tier}
    - Dedication.where(:hospital => @hospital.id, :tier => tier, :status => true).each do |dedication|
        %div{:class => "dedication", :id => dedication.id} 
            = link_to "#{dedication.donor.first_name} #{dedication.donor.last_name}",
                      donor_path(Donor.find(dedication.donor_id))
                  
            "#{dedication.dedication}"
            = link_to "View", dedication_path(dedication), :id => "view_#{dedication.id}"
