%h1 #{@hospital.name}

%ul#hospital_info
    %li
        Surgeries:
        = @hospital.surgeries
    %li
        Cost:
        = @hospital.cost
    %li
        Story:
        = @hospital.story
        
- ["Platinum", "Gold", "Silver"].each do |tier|
    %h2 #{tier}
    - Dedication.where(:hospital => @hospital.id, :tier => tier, :status => true).each do |dedication|
        %div{:class => "dedication", :id => dedication.id} 
            = link_to "#{dedication.donor.first_name} #{dedication.donor.last_name}",
                      donor_path(Donor.find(dedication.donor_id))
                  
            {#{dedication.dedication}}
            = link_to "View", hospital_dedication_path(@hospital, dedication), :id => "view_#{dedication.id}"
    